.main {
    margin: 0 60px;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.landingText {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.landingText h2 {
    font-size: 48px;
}

.landingText div {
    height: 6px;
    width: 72px;
    background-color: black;
}

.landingText h3 {
    font-size: 32px;
    font-weight: normal;
}

.landingText p {
    font-size: 20px;
}

.landingText a {
    margin-top: 20px;
    width: 240px;
    border: none;
    background-color: black;
    color: white;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}